### DMARC Report Processor ###
#

[Unit]
Description=DMARC Report Processor Service
After=syslog.target network.target

[Service]
Type=oneshot
EnvironmentFile=/etc/sysconfig/dmarcReportProcessor
Environment=DMARC_SYSTEM_USER=root
Environment=DMARC_RUA_EMAIL=dmarc@example.com
Environment=DMARC_IMAP_SERVER=msa.example.com
Environment=DMARC_RUA_FOLDER=INBOX/rua
Environment=DMARC_IMAP_PWDFILE=/usr/local/dmarc-report-processor/pwd
User=${DMARC_SYSTEM_USER}
Group=wheel
### FIXME Hardcoded path here
ExecStart=/opt/DMARCReportProcessor/dmarc-convertor.sh -u ${DMARC_RUA_EMAIL} -s ${DMARC_IMAP_SERVER} -P ${DMARC_IMAP_PWDFILE} -c /etc/pki/tls/certs/ca-bundle.crt
